{
 :deps true
 :dev-http {8343 "public"}
 :builds
 {:app
  {
   :asset-path "/js"
   :dev       {:compiler-options
               {:external-config {:guardrails {}}
                :closure-defines {'goog.DEBUG true}}}
   :target     :browser
   :output-dir "public/js"
   :modules    {:main {:entries [keechma101.init]}}
   }
  }}
